<% include ./../../helpers/filter-status %>
<% include ./../../helpers/action %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/status %>
<% include ./../../helpers/sort %>
<% 
	const collection = collections;
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
%>

<%- locals.flash %>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Search & Filter
				<a href="<%= linkPrefix %>status/all">
					<span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
				</a>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="status-list col-sm-6 pl0">
						<%- filterStatusHelper(collection, statusFilter, keyword) %>	 
					</div>
					<div class="col-sm-6">
						<form action="<%= linkPrefix %>status/<%= currentStatus %>" method="GET">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" placeholder="Search for..." value="<%= keyword %>">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Search</button>
								</span>
								<span class="input-group-btn">
									<a class="btn btn-success" type="button" href="<%= linkPrefix %>status/<%= currentStatus %>">Clear</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">List Items</div>
			<div class="panel-body">
				<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
					<%- actionHelper(collection) %>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input type="checkbox" class="cbAll" /></th>
									<th>#</th>
									
									<%- sortHelper(sortType, sortField, linkPrefix) %>
									<th>
										Created
									</th>
									<th>
										Modified
									</th>
									<th style="width:15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<% items.forEach( (item, index) => { %>
									<tr>
										<td style="vertical-align: middle;"><input type="checkbox" name="cid" value="<%= item.id %>" /></td>
										<td style="vertical-align: middle;"><%= index+1 %></td>
										<td style="vertical-align: middle;"><%= item.name %></td>
										<td style="vertical-align: middle;"><%- statusHelper(collection, item.status, item.id) %></td>
										<td style="vertical-align: middle; text-align: center;"><a href="<%= linkPrefix %>change-acp/<%= item._id %>/<%= item.group_acp %>" style="text-decoration: none;"><%- (item.group_acp) ? '<span class="material-icons" style="font-size:1.4em">check_box</span>':'' %><%- (!item.group_acp) ? '<span class="material-icons" style="font-size:1.4em">check_box_outline_blank</span>':'' %></a></td>
										<td style="vertical-align: middle;"><input type="number" value="<%= item.ordering %>" class="text-center ordering" style="width:82%"></td>
										<td style="vertical-align: middle; width: 22%">
											<span class="glyphicon glyphicon-user"> <%= item.created.username %></span>
											<span>&nbsp;</span>
											<span class="glyphicon glyphicon-time" style="word-spacing: -6px;"> <%= dateCreated[index] %></span>
										</td>
										<td style="vertical-align: middle; width:22%">
											<% if(item.modified.username == undefined){ %>
												Not yet modified
											<% } else { %>
												<span class="glyphicon glyphicon-user"> <%= item.modified.username %></span>
												<span class="glyphicon glyphicon-time" style="word-spacing: -6px;"> <%= dateModified[index] %></span>
											<% } %>
											<span>&nbsp;</span>
										</td>
										<td style="vertical-align: middle;">
											<a href="<%= linkPrefix %>form/<%= item.id %>" type="button" class="btn btn-warning btn-sm">Edit</a>
											<a href="<%= linkPrefix %>delete/<%= item.id %>" type="button" class="btn btn-danger btn-sm btn-delete">Delete</a>
										</td>
									</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<%- paginationHelper(pagination, collection, currentStatus, keyword) %>
	</div>
</div>